html{
   margin: 0px;
    padding: 0px;
    
    background-repeat: repeat;
    background-size: 100%;
    }
    
body{
    font-family: "times new roman";
    color: white;
    width:100%;
    margin: 0px;
    padding: 0px;
}




h1{
    font-size: 70px;
    text-align: center;
    font-family: "Times new roman";
    color:black;
}

div.header{
    font-size: 20px;
    font-family: "times new roman";
    text-align: center;
    color: black;
    padding: 10px;
}



hr {
    border-color: black;
    border-width: 10px;
    border-style: solid;
}

.header{
    overflow: hidden;
    background-color: black;
}

.header a{
    float: none;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
}

.header a:hover{
    background-color: white;
    color: black;
}

.header a.active{
    background-color: white;
    color: black;
}




a{
    color: black;
}


a:hover{
    color: white;
}

a:active{
    color: white;
}

h2{
    font-size: 25px;
    text-align: left;
}

p{
    font-size: 16px;
}

div.img{
    float: right;
    width: 40%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
}
img[id]{
    width: 100%;
    border-width: 5px;
    border-style: solid;
    border-color: black;
}

div.main{
    font-family: "times new roman";
    color: black;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 30%;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    float: left;
    background: white;
    border-width: 5px;
    border-style: solid;
    border-color: black;
}

div.main2{
    text-align: center;
    letter-spacing: 2px;
    line-height: 1.5;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    background: white;
    }



h3{
    text-indent: 10px;
    font-size: 18px;
}

