body{
    font-family: "times new roman";
    color: black;
    width:100%;
    margin: 0px;
    padding: 0px;
    display:flex; justify-content:space-around; align-items:flex-start; flex-direction:row;
}
div#facsimile{flex:1; margin:2em; 
    
}
div#facsimile img{width:100%}

div#transcript{flex:2; margin:2em;  
}
span.pagenum{font-size:.75em; color:brown;}
div.nav {margin-top:2em; display:flex; align-items:flex-start; flex-direction:row; justify-content:center}
a.nav, a.nav:active, a.nav:visited, a.nav:hover {color:brown; border: 1px solid brown; padding:.25em; margin:.25em;
    border-radius: 10px; text-decoration: none; }
h1{
    font-size: 3em;
    text-align: center;
    font-family: "Times new roman";
    color:black;
}
h2{font-size: 2em;}
h3{
    text-indent: 10px;
    font-size: 1.5em;
}










div.header{
    font-size: 20px;
    font-family: "times new roman";
    text-align: center;
    color: black;
    padding: 10px;
}



hr {
    border-color: black;
    border-width: 10px;
    border-style: solid;
}

.header{
    overflow: hidden;
    background-color: black;
}

.header a{
    float: none;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 25px;
}

.header a:hover{
    background-color: white;
    color: black;
}

.header a.active{
    background-color: white;
    color: black;
}




a{
    color: black;
}


a:hover{
    color: white;
}

a:active{
    color: white;
}

h2{
    font-size: 25px;
    text-align: left;
}

p{
    font-size: 16px;
}

div.img{
    float: right;
    width: 40%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
}
/*img[id]{
    width: 100%;
    border-width: 5px;
    border-style: solid;
    border-color: black;
}

div.main{
    font-family: "times new roman";
    color: black;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 30%;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    float: left;
    background: white;
    border-width: 5px;
    border-style: solid;
    border-color: black;
}

div.main2{
    text-align: center;
    letter-spacing: 2px;
    line-height: 1.5;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    background: white;
    }
*/




